.sc-quick-replies {
  padding: 0px 12px 8px;
  max-width: 100%;
  justify-content: center;
}

.sc-quick-replies.visible {
  display: flex;
}

.sc-quick-replies.hidden {
  display: none;
}

.sc-quick-reply {
  max-width: 100px;
  display: block;
  padding: 6px 12px;
  margin-top: 8px;
  border-radius: 6px;
  border: 1px solid #00BF6F;
  font-size: 14px;
  line-height: 1.4;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #00BF6F;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  transition: border-color .2s, background-color .2s, color .2s;
}

.sc-quick-reply:not(:last-child) {
  margin-right: 12px;
}

.sc-quick-reply:hover,
.sc-quick-reply:focus {
  border-color: #4e8cff;
  color: white;
  background-color: #4e8cff;
}